@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-blue {
  @apply bg-blue-400 text-white transition duration-150 cursor-pointer py-2 px-8 rounded;
}

.btn-blue:hover {
  @apply bg-blue-600;
}

.btn-green {
  @apply bg-green-400 text-white transition duration-150 cursor-pointer py-2 px-8 rounded;
}

.btn-green:hover {
  @apply bg-green-600;
}

.card2 {
  @apply row-span-1 bg-blue-100 text-center p-4;
}